<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mentorschap</h2>
                    <blockquote>
                        <p>
                            De mentor behartigt de persoonlijke belangen van een persoon en geeft hem adviezen. Een mentor beslist in overleg met de betrokkene over zaken, zoals een medische behandeling en het wel of niet zelfstandig blijven wonen. De maatregel is vooral bedoeld ter bescherming van de persoon en om misbruik van diens situatie door anderen te voorkomen.
                            <br/><span class="text-source"><a href="https://www.rechtspraak.nl/Uw-Situatie/Mentorschap">Rechtspraak.nl</a></span>
                        </p>

                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Voorstellen</h4>
                                    <h4 class="subheading">Kennismakingsgesprek</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tijdens het kennismakingsgesprek horen <span class="text-wij">wij</span> graag wat <span class="text-wij">wij</span> voor de client kunnen betekenen, ook zullen <span class="text-wij">wij</span> uitleggen wat het mentorschap precies inhoudt. Het kennismakingsgesprek vindt altijd plaats in een vertrouwde omgeving voor de client. Dit gesprek is vrijblijvend en kosteloos.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>De rechtbank</h4>
                                    <h4 class="subheading">Beschikking aanvragen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Voor de aanvraag van de beschikking zullen <span class="text-wij">wij</span> samen de benodigde papieren invullen en het verdere proces doorlopen.<br/> <a class="portfolio-link" data-toggle="modal" href="#linksModal">Klik hier voor de benodige documenten</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                 <div class="timeline-heading">
                                    <h4>Toekomst</h4>
                                    <h4 class="subheading">Contact momenten</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> <span class="text-wij">Wij</span> zullen minimaal 1x per zes weken contact hebben met de cliënt, het liefst door middel van een bezoek. Bij bijzonderheden worden <span class="text-wij">wij</span> graag op de hoogte gehouden via mail of telefonisch contact.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                 <div class="timeline-heading">
                                    <h4>Meer informatie?</h4>
                                    <h4 class="subheading">Mail of bel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Heb je nog vragen of wil je de aanvraag van het mentorschap in gang zetten? Neem dan contact met ons op.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>