<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over ons</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professioneel</h4>
                    <p class="text-muted">Door onze jarenlange werkervaring in diverse zorginstellingen hebben <span class="text-wij">wij</span> veel kennis opgedaan. Deze kennis helpt ons om een goede aansluiting te vinden bij onze client en diens situatie.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Positief</h4>
                    <p class="text-muted">Iedereen is uniek en hier spelen <span class="text-wij">wij</span> graag op in. <span class="text-wij">Wij</span> vinden het belangrijk om cliënten zoveel mogelijk regie over hun eigen leven te laten ervaren en zelfredzaamheid te bevorderen, <span class="text-wij">wij</span> sluiten aan waar dit nodig is. <span class="text-wij">Wij</span> gaan uit van de mogelijkheden en denken in oplossingen</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Persoonlijk</h4>
                    <p class="text-muted"><span class="text-wij">Wij</span> van <span class="text-wij">wij</span> Mentorschappen vinden het erg belangrijk om met iedere cliënt en zijn/haar omgeving persoonlijk contact te hebben en hierdoor een vertrouwensband op te bouwen, dit is essentieel voor een goede ondersteuning.</p>
                </div>
            </div>
        </div>
    </section>